### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
heroes_pymoli = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(heroes_pymoli)
purchase_data.head()

FileNotFoundError: [Errno 2] File b'Resources/purchase_data.csv' does not exist: b'Resources/purchase_data.csv'

## Player Count

* Display the total number of players

In [2]:
player_count = purchase_data['SN'].count()
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item Name"].unique())
average_price = purchase_data["Price"].mean()
number_purchases = len(purchase_data["Price"].unique())
total_revenue = purchase_data["Price"].sum()

purchasing_analysis = [("Number of Unique Items", [unique_items]), 
         ("Average Price", [average_price]), 
         ("Number of Purchases", [number_purchases]), 
         ("Total Revenue", [total_revenue])]
df_purchasing_analysis = pd.DataFrame.from_items(purchasing_analysis)
df_purchasing_analysis["Average Price"]=df_purchasing_analysis["Average Price"].map("${:,.2f}".format)
df_purchasing_analysis["Total Revenue"]=df_purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
df_purchasing_analysis

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  # Remove the CWD from sys.path while we load stuff.

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  145     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_demographics = purchase_data["Gender"].value_counts()
percentage_gender = gender_demographics/player_count *100

gender_table = pd.concat([gender_demographics, percentage_gender], axis = 1)
gender_table.columns = ["Total Counts", "Percentage of Players"]
gender_table["Percentage of Players"]=gender_table["Percentage of Players"].map("{:,.2f}%".format)
gender_table

                       Total Counts Percentage of Players
Male                            652                83.59%
Female                          113                14.49%
Other / Non-Disclosed            15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_group = purchase_data.groupby(["Gender"])
purchase_count = gender_group["Price"].count()
gender_spend = gender_group["Price"].sum()
avg_purchase_price = gender_spend/gender_demographics
avg_total_gender = gender_group["Price"].mean()

purchasing_analysis = pd.concat([ purchase_count, avg_purchase_price, gender_spend, avg_total_gender], axis=1)
purchasing_analysis.columns=[ "Purchase Counts", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]
purchasing_analysis["Average Purchase Price"]=purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis["Total Purchase Value"]=purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis["Avg Total Purchase per Person"]=purchasing_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchasing_analysis.index.name = "Gender"
purchasing_analysis

,Purchase Counts,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [1]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"]=pd.cut(purchase_data["Age"], age_bins, labels=group_names)
age_range = purchase_data.groupby(["Age Range"])

total_count = age_range["Age"].count()
percent_by_age = (total_count / total_players) *100

age_demographics = pd.DataFrame({"Percentage of Players": percent_by_age,
                                "Total Count": total_count
                                })

percent_by_age

NameError: name 'pd' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchases_by_age = age_range["Age"].count()
totals_by_age = age_range["Price"].sum()
avg_by_age = age_range["Price"].mean()
grand_total = totals_by_age.sum()
avg_total_pp = totals_by_age/purchases_by_age

age_table = pd.concat([purchases_by_age, avg_by_age, totals_by_age, avg_total_pp], axis=1)
age_table.columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]
age_table["Average Purchase Price"]=age_table["Average Purchase Price"].map("${:,.2f}".format)
age_table["Total Purchase Value"]=age_table["Total Purchase Value"].map("${:,.2f}".format)
age_table["Avg Total Purchase per Person"]=age_table["Avg Total Purchase per Person"].map("${:,.2f}".format)

age_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
purchases = purchase_data.groupby(["SN"])

purchase_count = purchases["SN"].count()
purchase_count = purchase_count.sort_values(ascending=False)

avg_purchase_price = purchases["Price"].mean()
purchases_value_total = purchases["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count" : purchase_count,
                                  "Average Purchase Price" : avg_purchase_price,
                                  "Total Purchase Value" : purchases_value_total})

top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].astype(float).map("${:,.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].astype(float).map("${:,.2f}".format)
top_spenders = top_spenders.sort_values("Purchase Count", ascending=False)
top_spenders.head(10)

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11
Aina42                    3                  $3.07                $9.22
Ilarin91                  3                  $4.23               $12.70
Idai61                    3                  $2.74                $8.23
Umolrian85                3                  $2.71                $8.13
Ialallo29                 3                  $3.95               $11.84

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame